/* cyrillic-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: url('../assets/fonts/lato/Lato-Bold.ttf') format('ttf');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url('../assets/fonts/lato/Lato-Regular.ttf') format('ttf');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
