.slim__scrollbar {
  scrollbar-color: var(--scrollbar-thumb-bg) var(--scrollbar-track-bg);
  scrollbar-width: var(--scrollbar-type);

  &::-webkit-scrollbar-track {
    background-color: var(--scrollbar-track-bg);
    border-radius: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-bg);
    border-radius: 5px;
  }

  &::-webkit-scrollbar {
    height: var(--scrollbar-size);
    width: var(--scrollbar-size);
  }

  //&::-webkit-scrollbar:hover {
  //  height: var(--scrollbar-size-hover);
  //  width: var(--scrollbar-size-hover);
  //}

}
