<tsw-breadcrumbs></tsw-breadcrumbs>

<form [formGroup]="form">
    <tsw-form-container>
      <tsw-section-wrapper
              class="mb-5"
              headerLabel="Campaña"
              icon="edit_note"
      >
  
        <div section-content>
          <div class="grid grid-cols-6 gap-1.5">
            <mat-form-field>
              <mat-label>{{ 'fields.year' | translate }}</mat-label>
              <input matInput formControlName="year">
              <mat-error>{{ form.controls.year.errors | extractValidationError }}</mat-error>
            </mat-form-field>
  
            <mat-form-field>
              <mat-label>{{ 'fields.code_cpa' | translate }}</mat-label>
              <input matInput formControlName="code_cpa">
              <mat-error>{{ form.controls.code_cpa.errors | extractValidationError }}</mat-error>
            </mat-form-field>    
  
          </div>

          <div class="grid grid-cols-1 gap-1.5">

            <mat-form-field>
              <mat-label>{{ 'fields.campaign' | translate }}</mat-label>
              <input matInput formControlName="campaign">
              <mat-error>{{ form.controls.campaign.errors | extractValidationError }}</mat-error>
            </mat-form-field>

          </div>
  
          <div class="grid grid-cols-6 gap-1.5">
            <mat-form-field>
              <mat-label>{{ 'fields.type' | translate }}</mat-label>

              <tsw-custom-select
                      resourceName="type"
                      formControlName="type"
              ></tsw-custom-select>
              <mat-error>{{ form.controls.type.errors | extractValidationError }}</mat-error>
            </mat-form-field>
  
            <mat-form-field>
              <mat-label>{{ 'fields.scope' | translate }}</mat-label>
              <tsw-custom-select
                      resourceName="scope"
                      formControlName="scope"
              ></tsw-custom-select>
            </mat-form-field>
  
            <mat-form-field>
              <mat-label>{{ 'fields.responsable_entity' | translate }}</mat-label>
              <tsw-custom-select
                      resourceName="responsable_entity"
                      formControlName="responsable_entity"
              ></tsw-custom-select>
            </mat-form-field>
  
          
          </div>

          <div class="grid grid-cols-1 gap-1.5">

            <label>{{ 'fields.ccaa_participants' | translate}}</label>
            
            <div class="dual-list">
              <div class="listOptions left-list">
                <select multiple #availableOptions1>
                  <option value="opcion1">Opción 1</option>
                  <option value="opcion2">Opción 2</option>
                  <option value="opcion3">Opción 3</option>
                </select>
              </div>
              <div class="list-controls">
                <button (click)="moveToSelected(availableOptions1, selectedOptions1)"><mat-icon>arrow_circle_right</mat-icon></button>
                <button (click)="moveToAvailable(availableOptions1, selectedOptions1)"><mat-icon>arrow_circle_left</mat-icon></button>
              </div>
              <div class="listOptions right-list">
                <select multiple #selectedOptions1>
                  <!-- Opciones seleccionadas para la segunda lista -->
                </select>
              </div>
            </div>

            <label>{{ 'fields.ccaa_participants' | translate}}</label>
            
            <div class="dual-list">
              <div class="listOptions left-list">
                <select multiple #availableOptions2>
                  <option value="opcion1">Opción 1</option>
                  <option value="opcion2">Opción 2</option>
                  <option value="opcion3">Opción 3</option>
                </select>
              </div>
              <div class="list-controls">
                <button (click)="moveToSelected(availableOptions2, selectedOptions2)"><mat-icon>arrow_circle_right</mat-icon></button>
                <button (click)="moveToAvailable(availableOptions2, selectedOptions2)"><mat-icon>arrow_circle_left</mat-icon></button>
              </div>
              <div class="listOptions right-list">
                <select multiple #selectedOptions2>
                  <!-- Opciones seleccionadas para la segunda lista -->
                </select>
              </div>
            </div>

            <label>{{ 'fields.ccaa_participants' | translate}}</label>
            
            <div class="dual-list">
              <div class="listOptions left-list">
                <select multiple #availableOptions3>
                  <option value="opcion1">Opción 1</option>
                  <option value="opcion2">Opción 2</option>
                  <option value="opcion3">Opción 3</option>
                </select>
              </div>
              <div class="list-controls">
                <button (click)="moveToSelected(availableOptions3, selectedOptions3)"><mat-icon>arrow_circle_right</mat-icon></button>
                <button (click)="moveToAvailable(availableOptions3, selectedOptions3)"><mat-icon>arrow_circle_left</mat-icon></button>
              </div>
              <div class="listOptions right-list">
                <select multiple #selectedOptions3>
                  <!-- Opciones seleccionadas para la segunda lista -->
                </select>
              </div>
            </div>
            
          
          </div>
          

        </div>
  
      </tsw-section-wrapper>
  
      <tsw-form-actions
              [saveBtnSkipConfirmation]="skipSaveConfirmation"
              (reset)="resetForm()"
              (save)="submitForm()"
      ></tsw-form-actions>
  
    </tsw-form-container>
  </form>
  
