### IntelliJ IDEA ###
out/
target/
!**/src/main/**/out/
!**/src/test/**/out/
.idea/*
 
### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/
 
### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
 
### VS Code ###
.vscode/
 
### Mac OS ###
.DS_Store
ja-auth-app/src/main/resources/config/application-jdbc.properties
ja-rest-app/src/main/resources/config/application-jdbc.properties
@pathLogs@.2024-02-14.0.gz
@pathLogs@
@pathLogs@
web/src/environments/environment.ts
ge-auth-app/src/main/resources/config/application-docker.properties
ge-auth-app/src/main/resources/config/application-local.properties
ge-rest-app/src/main/resources/config/application-local.properties
web/src/environments/environment.ts
web/src/environments/environment.dev.ts
web/src/environments/environment.dev.ts
ge-auth-app/src/main/resources/config/application-docker.properties
ge-auth-app/src/main/resources/config/application-local.properties
ge-rest-app/src/main/resources/config/application-local.properties
web/src/environments/environment.ts
ge-auth-app/src/main/resources/config/application-docker.properties
ge-auth-app/src/main/resources/config/application-local.properties
ge-rest-app/src/main/resources/config/application-local.properties
web/src/environments/environment.ts
web/src/environments/environment.dev.ts
web/src/environments/environment.ts
ge-rest-app/src/main/resources/config/application-local.properties
GESCO.log
ge-rest-app/src/main/resources/config/application-local.properties
web/src/environments/environment.ts
ge-rest-app/src/main/resources/config/application-docker.properties
ge-rest-app/src/main/resources/config/application-local.properties
GESCO.log.2024-03-12.0.gz
web/src/environments/environment.ts
web/src/environments/environment.ts
ge-rest-app/src/main/resources/config/application-local.properties
ge-rest-app/src/main/resources/config/application-docker.properties
ge-auth-app/src/main/resources/config/application-local.properties
ge-resources/.idea/ge-resources.iml
ge-resources/.idea/libraries/libs.xml
ge-resources/.idea/misc.xml
ge-resources/.idea/modules.xml
ge-resources/.idea/vcs.xml
ge-resources/.idea/workspace.xml
