@use 'src/sass/material' as mat;
:host {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.dashboard__wrapper {
  padding-top: var(--header-height);
  height: 100%;
}

.dashboard__content {
  position: relative;
  left: 0;
background-color: mat.$dashboard-background;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all .4s ease;

  &.short {
    margin-left: var(--sidebar-short-width);
  }

  &.full {
    margin-left: var(--sidebar-width);
  }
}
