<form [formGroup]="form">
  <tsw-section-title [label]="sectionTitle"></tsw-section-title>

  <div class="grid grid-cols-1 gap-1.5">
    <mat-form-field>
      <mat-label>{{ 'fields.entity' | translate }}</mat-label>
      <tsw-custom-select
        #entitySelect
        resourceName="entities"
        formControlName="entity"
        [showNoneValue]="false"
        [searchQueryParams]="entitySelectQuery"
      ></tsw-custom-select>
      <mat-error>{{ form.controls.entity.errors | extractValidationError }}</mat-error>
    </mat-form-field>
  </div>

  <tsw-form-actions
    class="flex justify-between pt-3 mt-5 border-t rounded"
    [redirectOnCancel]="false"
    (cancel)="closeDialog()"
    (reset)="resetForm()"
    (save)="submitForm()"
  ></tsw-form-actions>
</form>
