:host {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
    background-color:rgba(0,0,0,0.3);
     z-index:99999;
  }
  .pop-up {
    position:absolute;
    top:35%;
    left:35%;
    background-color:#fff;
    border-radius: 5px;
  }