<tsw-breadcrumbs></tsw-breadcrumbs>

<form [formGroup]="form">
    <tsw-form-container>
        <tsw-section-wrapper
                class="mb-5"
                headerLabel="{{'text.arbitration.step3.title' | translate}}"
                icon="edit_note">
            <div section-content>
                <tsw-section-label
                        label="{{ 'text.arbitration.step3.dataProtect' | translate}}"></tsw-section-label>
                <div class="grid grid-cols-1 gap-1.5">
                    <p>
                        En el marco de la Junta Arbitral Nacional de Consumo del Gobierno de España, se garantiza la
                        protección de los datos personales proporcionados. La presente declaración de protección de
                        datos
                        tiene como objetivo informar sobre cómo se recopila, utiliza, divulga y protege la información
                        proporcionada a través de este sitio web.
                    </p>
                    <br>
                    <p>
                        Durante el proceso de solicitud de arbitraje, se pueden solicitar ciertos datos personales, como
                        nombre, dirección de correo electrónico, número de teléfono, entre otros. Estos datos se
                        recopilan
                        de manera voluntaria y con el consentimiento expreso del interesado/a.
                    </p>
                    <br>
                    <p>
                        La información recopilada se utiliza únicamente con el propósito de gestionar las solicitudes de
                        arbitraje y brindar los servicios correspondientes. Los datos personales proporcionados no se
                        utilizarán para ningún otro fin sin el consentimiento previo del interesado/a.
                    </p>
                    <br>
                    <p>
                        Se implementarán medidas adecuadas para garantizar la confidencialidad de los datos personales.
                        No
                        se divulgarán, venderán ni transferirán los datos personales a terceros sin el consentimiento
                        del
                        interesado/a, a menos que sea requerido por ley o por una autoridad competente.
                    </p>
                    <br>
                    <p>
                        Se implementarán medidas de seguridad para proteger los datos personales contra el acceso no
                        autorizado, la divulgación o la destrucción no autorizada. Se revisan y actualizan regularmente
                        las
                        prácticas de seguridad para mantener la confidencialidad e integridad de los datos personales.
                    </p>
                    <br>
                    <p>
                        Como titular de los datos personales, se tienen ciertos derechos según la legislación vigente.
                        Estos
                        derechos incluyen el acceso, rectificación, cancelación y oposición al tratamiento de los datos
                        personales.

                    </p>

                </div>
                <button class="mdc-button mdc-button--raised mat-mdc-raised-button mat-primary mat-mdc-button-base float-right !bg-lime-700"
                >{{'text.arbitration.step3.sign' | translate}}</button>
            </div>
        </tsw-section-wrapper>
        <tsw-form-actions
                [saveBtnSkipConfirmation]="skipSaveConfirmation"
                saveBtnLabel="generic.actions.next"
                (reset)="resetForm()"
                (save)="submitForm()"
                cancelBtnLabel="generic.actions.previous"
                cancelRedirectPath="../documents"
        ></tsw-form-actions>
    </tsw-form-container>
</form>
