<tsw-filters-container class="pt-3">
    <tsw-approach-list-page-filter *tswCustomFilter="'advanced'"></tsw-approach-list-page-filter>
</tsw-filters-container>

<tsw-table-container
        class="pt-3"
        [loading]="loading"
        [paginator]="paginator"
        [columns]="columns"
        (reload)="reloadData()"
        (page)="navigatePage($event)"
>
    <table tsw-table [dataSource]="source">
        <tr mat-header-row *matHeaderRowDef="(columns.columns | async) ?? []"></tr>
        <tr mat-row *matRowDef="let row; columns: (columns.columns | async) ?? []"></tr>

        <tr *matNoDataRow tsw-table-empty-row [loading]="loading" [columns]="columns"></tr>

        <ng-container matColumnDef="select" [sticky]="true">
            <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox
                        (click)="$event.stopPropagation()"
                        (change)="selectAll($event)"
                        [checked]="selection.hasValue() && (source.data.length === selection.selected.length)"
                        [indeterminate]="selection.hasValue() && (source.data.length !== selection.selected.length)"
                ></mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
                <mat-checkbox
                        (click)="$event.stopPropagation()"
                        (change)="select($event, row)"
                        [checked]="selection.isSelected(row)"
                ></mat-checkbox>
            </td>
        </ng-container>

        <ng-container matColumnDef="year">
            <th *matHeaderCellDef mat-header-cell style="width: 7%" >{{ "fields.approachFields.year" | translate }}</th>
            <td mat-cell *matCellDef="let element">
                {{ element.date | date: 'yyyy' }}
            </td>
        </ng-container>

        <ng-container matColumnDef="type">
            <th mat-header-cell style="width: 15%;" *matHeaderCellDef>
              {{ 'fields.approachFields.type'| translate }}</th>
            <td mat-cell *matCellDef="let element">
                {{ element.campaignTypeName }}
            </td>
        </ng-container>

        <ng-container matColumnDef="autonomusCommunity">
            <th mat-header-cell style="width: 25%;" *matHeaderCellDef>{{ "fields.ccaa" | translate }}</th>
            <td *matCellDef="let element" mat-cell>
                {{ element.autonomousCommunityName }}
            </td>
        </ng-container>

        <ng-container matColumnDef="approach">
            <th mat-header-cell style="width: 38%;" *matHeaderCellDef>{{ "fields.approachFields.approach"| translate }}</th>
            <td mat-cell *matCellDef="let element">
                {{ element.approach }}
            </td>
        </ng-container>

        <ng-container
                matColumnDef="actions"
                [stickyEnd]="true"
        >
            <th *matHeaderCellDef mat-header-cell ></th>
            <td mat-cell *matCellDef="let element" class="text-right">
                <ng-container>
                    <div class="additional-actions">
                        <a mat-button
                           [routerLink]="'approachManagementSee' | namedRoute: { id: element.id }"
                           matTooltip="Ver"
                           matTooltipPosition="above"
                        >
                          <mat-icon>visibility</mat-icon>
                        </a>
                      <a
                        mat-button
                        [routerLink]="'approachManagementEdit' | namedRoute: { id: element.id }"
                        matTooltip="Editar"
                        matTooltipPosition="above"
                      >
                        <mat-icon>edit</mat-icon>

                      </a>
                    </div>
                    <tsw-state-toggle
                            [data]="element"
                            [resource]="resourceName"
                    ></tsw-state-toggle>
                </ng-container>
            </td>
        </ng-container>

    </table>
</tsw-table-container>
