<mat-card *ngIf="componentIsReady">
  <mat-card-content
    class="ani__accordion py-3 px-1"
    [class.open]="accordionOpened"
  >
    <ng-container
      *ngIf="simpleFilterTemplate && !showAdvancedFilters"
      [ngTemplateOutlet]="simpleFilterTemplate"
    ></ng-container>

    <ng-container
      *ngIf="hasAdvancedFilters && showAdvancedFilters && advancedFilterTemplate"
      [ngTemplateOutlet]="advancedFilterTemplate"
    ></ng-container>
  </mat-card-content>

  <mat-card-footer
    *ngIf="hasAdvancedFilters"
    class="advanced__filters__toggle"
  >
    <div
      class="flex justify-center items-center cursor-pointer overflow-hidden py-1 md:h-8"
      (click)="toggleAdvancedFilters()"
    >
      <button *ngIf="!showAdvancedFilters" mat-button>
        <mat-icon>expand_more</mat-icon>
        <span class="text-sm">{{ 'text.other.filter.advanced' | translate }}</span>
      </button>

      <button *ngIf="showAdvancedFilters" mat-button>
        <mat-icon>expand_less</mat-icon>
        <span class="text-sm">{{ 'text.other.filter.simple' | translate }}</span>
      </button>
    </div>
  </mat-card-footer>
</mat-card>

<tsw-simple-search [showHiddenInput]="showHiddenInput" *tswCustomFilter="'simple'"></tsw-simple-search>
