<form [formGroup]="form" (ngSubmit)="search()">
  <div class="grid grid-cols-3 gap-1.5">
    <mat-form-field>
      <mat-label>{{ 'fields.pubCode' | translate }}</mat-label>
      <tsw-search-input formControlName="pubCode"></tsw-search-input>
    </mat-form-field>

   <mat-form-field>
      <mat-label>{{ 'fields.sampleState' | translate }}</mat-label>
      <tsw-custom-select formControlName="sampleStateId" resourceName="sampleStates"></tsw-custom-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{ 'fields.season' | translate }}</mat-label>
      <tsw-search-input formControlName="seasonName"></tsw-search-input>
    </mat-form-field>

  </div>
  <div class="grid grid-cols-4 gap-1.5">

    <mat-form-field>
      <mat-label>{{ 'fields.createdAtLTE' | translate }}</mat-label>
      <input matInput [matDatepicker]="createdAtLTEPicker" formControlName="createdAtLTE">
      <mat-datepicker-toggle matSuffix [for]="createdAtLTEPicker"></mat-datepicker-toggle>
      <mat-datepicker #createdAtLTEPicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{ 'fields.createdAtGTE' | translate }}</mat-label>
      <input matInput [matDatepicker]="createdAtGTEPicker" formControlName="createdAtGTE">
      <mat-datepicker-toggle matSuffix [for]="createdAtGTEPicker"></mat-datepicker-toggle>
      <mat-datepicker #createdAtGTEPicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{ 'fields.updatedAtLTE' | translate }}</mat-label>
      <input matInput [matDatepicker]="updatedAtLTEPicker" formControlName="updatedAtLTE">
      <mat-datepicker-toggle matSuffix [for]="updatedAtLTEPicker"></mat-datepicker-toggle>
      <mat-datepicker #updatedAtLTEPicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{ 'fields.updatedAtGTE' | translate }}</mat-label>
      <input matInput [matDatepicker]="updatedAtGTEPicker" formControlName="updatedAtGTE">
      <mat-datepicker-toggle matSuffix [for]="updatedAtGTEPicker"></mat-datepicker-toggle>
      <mat-datepicker #updatedAtGTEPicker></mat-datepicker>
    </mat-form-field>

  </div>

  <tsw-filters-container-actions (resetEv)="clear()">
    <tsw-filter-hidden formControlName="state"></tsw-filter-hidden>
  </tsw-filters-container-actions>
</form>