<form [formGroup]="form">
  <tsw-form-container>
    <tsw-section-wrapper
                class="mb-5"
                headerLabel="Datos del Usuario"
                icon="edit_note"
        >

            <div section-content>
                <div class="grid grid-cols-3 gap-1.5">
                    <mat-form-field>
                        <mat-label>{{ 'fields.name' | translate }}</mat-label>
                        <input matInput formControlName="name">
                        <mat-error>{{ form.controls.name.errors | extractValidationError }}</mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>{{ 'fields.firstSurname' | translate }}</mat-label>
                        <input matInput formControlName="surname">
                        <mat-error>{{ form.controls.surname.errors | extractValidationError }}</mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>{{ 'fields.secondSurname' | translate }}</mat-label>
                        <input matInput formControlName="lastSurname">
                        <mat-error>{{ form.controls.lastSurname.errors | extractValidationError }}</mat-error>
                    </mat-form-field>

                </div>

                <div class="grid grid-cols-3 gap-1.5">

                    <mat-form-field>
                        <mat-label>{{ 'fields.nif' | translate }}</mat-label>
                        <input matInput formControlName="dni">
                      <mat-error>{{ form.controls.dni.errors | extractValidationError }}</mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>{{ 'fields.email' | translate }}</mat-label>
                        <input matInput formControlName="email">
                        <mat-error>{{ form.controls.email.errors | extractValidationError }}</mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>{{ 'fields.phone' | translate }}</mat-label>
                        <input matInput formControlName="phone">
                        <mat-error>{{ form.controls.phone.errors | extractValidationError }}</mat-error>
                    </mat-form-field>
                </div>

                <div class="grid grid-cols-3 gap-1.5">
                    <mat-form-field>
                        <mat-label>{{ 'fields.ccaa' | translate }}</mat-label>
                        <tsw-custom-select
                                resourceName="autonomousCommunity"
                                formControlName="autonomousCommunity"
                        ></tsw-custom-select>
                        <mat-error>{{ form.controls.autonomousCommunity.errors | extractValidationError }}</mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>{{ 'fields.profile' | translate }}</mat-label>
                        <tsw-custom-select
                                resourceName="profiles"
                                formControlName="profile"
                        ></tsw-custom-select>
                        <mat-error>{{ form.controls.profile.errors | extractValidationError }}</mat-error>
                    </mat-form-field>

                    <mat-form-field>
                      <mat-label>{{ 'fields.userType' | translate }}</mat-label>
                      <tsw-custom-select
                        resourceName="userType"
                        formControlName="userType"
                      ></tsw-custom-select>
                      <mat-error>{{ form.controls.userType.errors | extractValidationError }}</mat-error>
                    </mat-form-field>
                </div>
            </div>

        </tsw-section-wrapper>

    <tsw-form-actions
            [saveBtnSkipConfirmation]="skipSaveConfirmation"
            (reset)="resetForm()"
            (save)="submitForm()"
    ></tsw-form-actions>

  </tsw-form-container>
</form>
