<tsw-breadcrumbs></tsw-breadcrumbs>

<form [formGroup]="form">
  <tsw-form-container>
    <tsw-section-wrapper
      class="mb-5"
      headerLabel="Datos del Usuario"
      icon="edit_note"
    >

      <div section-content>
        <div class="grid grid-cols-4 gap-1.5">
          <mat-form-field>
            <mat-label>Nombre</mat-label>
            <input matInput>
          </mat-form-field>




        </div>

        <div class="grid grid-cols-6 gap-1.5">




          <mat-form-field class="col-span-2">



          </mat-form-field>

          <mat-form-field class="col-span-2">
          </mat-form-field>
        </div>
      </div>

    </tsw-section-wrapper>

    <tsw-form-actions
      [saveBtnSkipConfirmation]="skipSaveConfirmation"
      (reset)="resetForm()"
      (save)="submitForm()"
    ></tsw-form-actions>
  </tsw-form-container>
</form>
