$nav-item-padding: .75rem 1rem;

:host {
  position: fixed;
  left: 0;
  top: var(--header-height);
  height: 100%;
  transition: all .4s ease;
  box-shadow: 0 0 28px rgb(0 0 0 / 7%);
  z-index: var(--zindex-fixed);
}

.sidebar__wrapper {
  height: 100%;
  background-color: var(--primary-color);
  color: var(--text-primary-color);

  overflow-y: auto;
  overflow-x: hidden;

  transition: all .4s ease;

  &.full {
    width: var(--sidebar-width);
  }
}

.sidebar__wrapper.short {
  width: var(--sidebar-short-width);

  .sidebar__nav__item .sidebar__nav__item_title, .sidebar__nav__item_action {
    display: none;
  }

  .sidebar__nav__items__group {
    display: none;
  }

  &:hover {
    width: var(--sidebar-width);

    .sidebar__nav__item .sidebar__nav__item_title, .sidebar__nav__item_action {
      display: inherit;
    }

    .sidebar__nav__items__group {
      display: inherit;
    }
  }
}

.sidebar__nav__group {
  &.active {
    background-color: var(--primary-darker-color);
  }
}

.sidebar__nav__item {
  padding: $nav-item-padding;
  display: flex;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;

  &.active {
    background-color: var(--primary-darker-color);
  }

  &:hover {
    background-color: var(--primary-darker-color);
  }
}

.sidebar__nav__item_title {
  margin-left: .5rem;
}

.sidebar__nav__item_action {
  margin-left: auto;
}

.sidebar__nav__items__group {
  overflow: hidden;
  background-color: var(--primary-darker-color);
}

.sidebar__nav__item__child {
  padding: $nav-item-padding;
  cursor: pointer;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;

  &:hover {
    color: var(--primary-darker-color);
    background-color: var(--primary-lighter-color);
  }

  &.active {
    color: var(--primary-darker-color);
    background-color: var(--primary-lighter-color);
  }
}
