/* dl > div:nth-child(even) {
  background-color: #f5f5f5; /* Gris tenue para los divs pares 
}

dl > div:nth-child(odd) {
  background-color: white; /* Blanco para los divs impares 
} */

 .material-symbols-outlined {
   font-variation-settings:
   'background' 0,
           'FILL' 0,
           'wght' 400,
           'GRAD' 0,
           'opsz' 24
 }

 .justify-right {
  justify-content: right;
 }

 .color-grey {
  background-color: #f5f5f5;
 }

 .centered-element {
  align-self: center;
}

.text-color-red {
  color: #e40000;
 }

.flex-buttons.mat-raised-button {
  flex: 1 1 auto ;  /* Crecen y se encogen, pero siempre ocupan una parte igual del contenedor */
  min-width: 150px;  /* Ancho mínimo para asegurar la legibilidad */
  white-space: nowrap;  /* Evita que el texto se ajuste y se desborde */
  overflow: hidden;  /* Oculta cualquier contenido que desborde */
  text-overflow: ellipsis;  /* Añade puntos suspensivos si el texto es demasiado largo */
}

.icon-text-button {
  display: inline-flex;
  align-items: center; /* Alinea verticalmente el texto y el ícono */
  justify-content: center; /* Centra el contenido horizontalmente */
}

/* Estilos básicos para botones */
.btn-responsive {
  display: inline-block;
  font-weight: bold;
  color: white;
  padding: 4px 16px;
  border-radius: 4px;
  transition: padding 0.3s ease, font-size 0.3s ease;
}

/* Tamaños de pantalla pequeños */
@media (max-width: 768px) {
  .btn-responsive {
    font-size: 12px;
    padding: 10px 14px;
  }
}

/* Tamaños de pantalla muy pequeños */
@media (max-width: 480px) {
  .btn-responsive {
    font-size: 8px;
    padding: 8px 10px;
  }
}

.no-overflow-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}