<tsw-breadcrumbs></tsw-breadcrumbs>

<form [formGroup]="form">
    <tsw-form-container>
        <tsw-tab-panel></tsw-tab-panel>
        <tsw-section-wrapper
                class="mb-2"
                headerLabel="{{'text.approach.campaign-proposal.title' | translate}}"
                icon="preview">
            <div section-content>

                    <div class="p-5 grid grid-cols-1 gap-1.5">
                            <mat-label class="uppercase font-bold ">{{ 'fields.approach.campaign-proposal.title' | translate }}</mat-label>
                            <textarea class="mx-2 bg-gray-100 rounded-md" matInput formControlName="approach" readonly></textarea>
                    </div>
                    <div class="p-5 grid grid-cols-1 gap-1.5">
                            <mat-label class="uppercase  font-bold">{{ 'fields.approach.justification' | translate }}</mat-label>
                            <textarea class="mx-2 bg-gray-100 rounded-md" matInput formControlName="justification" rows="3" readonly></textarea>
                    </div>
                    <div class="p-5 grid grid-cols-1 gap-1.5">
                            <mat-label class="uppercase font-bold">{{ 'fields.approach.objectives' | translate }}</mat-label>
                            <textarea class="mx-2 bg-gray-100 rounded-md" matInput formControlName="objective" rows="3" readonly></textarea>
                    </div>
                    <div class="p-5 grid grid-cols-1 gap-1.5">
                            <mat-label class="uppercase font-bold">{{ 'fields.approach.technical-legal-viability' | translate }}</mat-label>
                            <textarea class="mx-2 bg-gray-100 rounded-md" matInput formControlName="viability" rows="6" readonly></textarea>
                    </div>

            </div>

        </tsw-section-wrapper>

    </tsw-form-container>
</form>