<form [formGroup]="form">
  <tsw-form-container>
    <tsw-section-wrapper
      class="mb-5"
      [headerLabel]="headerTitle"
      icon="edit_note"
    >
      <div section-content>
        <div class="grid grid-cols-1 gap-1.5 mb-2">
          <mat-form-field>
            <mat-label>{{ 'fields.name' | translate }}</mat-label>
            <input matInput formControlName="name">
            <mat-error>{{ form.controls.name.errors | extractValidationError }}</mat-error>
          </mat-form-field>
        </div>
        <div class="grid grid-cols-1 gap-1.5 mb-2">
          <mat-form-field>
            <mat-label>{{ 'fields.permissions' | translate }}</mat-label>
            <tsw-custom-select
              resourceName="permissions"
              formControlName="permissions"
              [required]="true"
              multiple
            ></tsw-custom-select>
            <mat-error>{{ form.controls.permissions.errors | extractValidationError }}</mat-error>
          </mat-form-field>
        </div>
      </div>
    </tsw-section-wrapper>



    <tsw-form-actions
      [saveBtnSkipConfirmation]="form.invalid"
      (reset)="resetForm()"
      (save)="submitForm()"
    ></tsw-form-actions>
  </tsw-form-container>
</form>
