<tsw-breadcrumbs></tsw-breadcrumbs>

<form [formGroup]="form">
  <tsw-form-container>
    <tsw-section-wrapper
      class="mb-5"
      [headerLabel]="headerTitle"
      icon="edit_note"
    >
      <div section-content>
        <div class="grid grid-cols-1 gap-1.5">
          <mat-form-field>
            <mat-label>{{ 'fields.name' | translate }}</mat-label>
            <input matInput formControlName="name">
          </mat-form-field>
        </div>
        <div class="grid grid-cols-1 gap-1.5">
          <mat-form-field>
            <mat-label>{{ 'fields.permissions' | translate }}</mat-label>
            <tsw-custom-select
              resourceName="permissions"
              formControlName="permissions"
              multiple
            ></tsw-custom-select>
          </mat-form-field>
        </div>
      </div>
    </tsw-section-wrapper>



    <tsw-form-actions
      [saveBtnSkipConfirmation]="skipSaveConfirmation"
      (reset)="resetForm()"
      (save)="submitForm()"
    ></tsw-form-actions>
  </tsw-form-container>
</form>
