<tsw-breadcrumbs></tsw-breadcrumbs>

<form [formGroup]="form">
    <tsw-form-container>
        <tsw-section-wrapper
                class="mb-5"
                headerLabel="Datos del Usuario"
                icon="edit_note"
        >

            <div section-content>
                <div class="grid grid-cols-4 gap-1.5">
                    <mat-form-field>
                        <mat-label>{{ 'fields.name' | translate }}</mat-label>
                        <input matInput formControlName="name">
                        <mat-error>{{ form.controls.name.errors | extractValidationError }}</mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>{{ 'fields.firstSurname' | translate }}</mat-label>
                        <input matInput formControlName="firstSurname">
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>{{ 'fields.secondSurname' | translate }}</mat-label>
                        <input matInput formControlName="secondSurname">
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>{{ 'fields.nif' | translate }}</mat-label>
                        <input matInput formControlName="nif">
                    </mat-form-field>
                </div>


                <div  class="grid grid-cols-6 gap-1.5">
                    <mat-form-field class="col-span-2">
                        <mat-label>{{ 'fields.profile' | translate }}</mat-label>
                        <tsw-custom-select
                                resourceName="profiles"
                                formControlName="profile"
                        ></tsw-custom-select>
                    </mat-form-field>

                    <mat-form-field class="col-span-2">
                        <mat-label>{{ 'fields.position' | translate }}</mat-label>
                        <input matInput formControlName="position">
                    </mat-form-field>

                    <mat-form-field class="col-span-2">
                        <mat-label>{{ 'fields.ccaa' | translate }}</mat-label>
                        <tsw-custom-select
                                resourceName="autonomousCommunity"
                                formControlName="autonomousCommunity"
                        ></tsw-custom-select>
                    </mat-form-field>
                </div>

                <div class="grid grid-cols-4 gap-1.5">
                    <mat-form-field class="col-span-2">
                        <mat-label>{{ 'fields.aann' | translate }}</mat-label>
                        <tsw-custom-select
                                resourceName="authorityOEU"
                                formControlName="authorityOEU"
                        ></tsw-custom-select>
                    </mat-form-field>

                    <mat-form-field class="col-span-2">
                        <mat-label>{{ 'fields.areaResposability' | translate }}</mat-label>
                        <input matInput formControlName="areaResponsability">
                    </mat-form-field>

                </div>

                <div class="grid grid-cols-4 gap-1.5">
                    <mat-form-field class="chip-list col-span-2">
                        <mat-label>{{ 'fields.email' | translate }}</mat-label>
                            <mat-chip-grid #chipGridEmail aria-label="Enter email">
                                <mat-chip-row *ngFor="let email of emails"
                                              (removed)="removeEmail(email)"
                                              [editable]="true"
                                              (edited)="editEmail(email, $event)"
                                              [aria-description]="'press enter to edit ' + email.name">
                                    {{email.name}}
                                    <button matChipRemove [attr.aria-label]="'remove ' + email.name">
                                        <mat-icon>cancel</mat-icon>
                                    </button>
                                </mat-chip-row>
                                <input placeholder=""
                                       matInput formControlName="emails"
                                       [matChipInputFor]="chipGridEmail"
                                       [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                       [matChipInputAddOnBlur]="addOnBlur"
                                       (matChipInputTokenEnd)="addEmail($event)"/>
                            </mat-chip-grid>
                    </mat-form-field>

                    <mat-form-field class="chip-list col-span-2">
                        <mat-label>{{ 'fields.phone' | translate }}</mat-label>
                        <mat-chip-grid #chipGridPhone aria-label="Enter phone">
                            <mat-chip-row *ngFor="let phone of phones"
                                          (removed)="removePhone(phone)"
                                          [editable]="true"
                                          (edited)="editPhone(phone, $event)"
                                          [aria-description]="'press enter to edit ' + phone">
                                {{phone.phone}}
                                <button matChipRemove [attr.aria-label]="'remove ' + phone">
                                    <mat-icon>cancel</mat-icon>
                                </button>
                            </mat-chip-row>
                            <input placeholder=""
                                   [matChipInputFor]="chipGridPhone"
                                   [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                   [matChipInputAddOnBlur]="addOnBlur"
                                   (matChipInputTokenEnd)="addPhone($event)"/>
                        </mat-chip-grid>
                    </mat-form-field>
                </div>




            </div>

            <!--<tsw-user-edit-scope-list
                    *ngIf="!isNew"
                    section-content
                    [user]="srcData"
            ></tsw-user-edit-scope-list>-->

        </tsw-section-wrapper>

        <tsw-form-actions
                [saveBtnSkipConfirmation]="skipSaveConfirmation"
                (reset)="resetForm()"
                (save)="submitForm()"
        ></tsw-form-actions>
    </tsw-form-container>
</form>
