<tsw-breadcrumbs></tsw-breadcrumbs>

<form [formGroup]="form">
    <tsw-form-container>
        <tsw-section-wrapper
                class="mb-5"
                headerLabel="Datos del Usuario"
                icon="edit_note"
        >

            <div section-content>
                <div class="grid grid-cols-3 gap-1.5">
                    <mat-form-field>
                        <mat-label>{{ 'fields.name' | translate }}</mat-label>
                        <input matInput formControlName="name">
                        <mat-error>{{ form.controls.name.errors | extractValidationError }}</mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>{{ 'fields.firstSurname' | translate }}</mat-label>
                        <input matInput formControlName="firstSurname">
                        <mat-error>{{ form.controls.firstSurname.errors | extractValidationError }}</mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>{{ 'fields.secondSurname' | translate }}</mat-label>
                        <input matInput formControlName="secondSurname">
                        <mat-error>{{ form.controls.secondSurname.errors | extractValidationError }}</mat-error>
                    </mat-form-field>

                </div>

                <div class="grid grid-cols-4 gap-1.5">
                  <mat-form-field>
                    <mat-label>{{ 'fields.password' | translate }}</mat-label>
                    <input matInput formControlName="password">
                  </mat-form-field>

                    <mat-form-field>
                        <mat-label>{{ 'fields.nif' | translate }}</mat-label>
                        <input matInput formControlName="nif">
                      <mat-error>{{ form.controls.nif.errors | extractValidationError }}</mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>{{ 'fields.email' | translate }}</mat-label>
                        <input matInput formControlName="email">
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>{{ 'fields.phone' | translate }}</mat-label>
                        <input matInput formControlName="phone">
                    </mat-form-field>
                </div>

                <div class="grid grid-cols-3 gap-1.5">
                    <mat-form-field>
                        <mat-label>{{ 'fields.ccaa' | translate }}</mat-label>
                        <tsw-custom-select
                                resourceName="autonomousCommunity"
                                formControlName="autonomousCommunity"
                        ></tsw-custom-select>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>{{ 'fields.profile' | translate }}</mat-label>
                        <tsw-custom-select
                                resourceName="profiles"
                                formControlName="profile"
                        ></tsw-custom-select>
                        <mat-error>{{ form.controls.profile.errors | extractValidationError }}</mat-error>
                    </mat-form-field>

                    <mat-form-field>
                      <mat-label>{{ 'fields.userType' | translate }}</mat-label>
                      <tsw-custom-select
                        resourceName="userType"
                        formControlName="userType"
                      ></tsw-custom-select>
                    </mat-form-field>

                  <!--<mat-form-field class="col-span-2">
                      <mat-label>{{ 'fields.modules' | translate }}</mat-label>
                      <tsw-custom-select
                              resourceName="modules"
                              formControlName="modules"
                              multiple
                      ></tsw-custom-select>
                  </mat-form-field>-->
                </div>
            </div>

        </tsw-section-wrapper>

        <tsw-form-actions
                [saveBtnSkipConfirmation]="skipSaveConfirmation"
                (reset)="resetForm()"
                (save)="submitForm()"
        ></tsw-form-actions>
    </tsw-form-container>
</form>
