<div class="header__action" tswSidebarToggle>
  <mat-icon>menu</mat-icon>
</div>

<div class="flex flex-row flex-1 mr-auto">
  <tsw-logo
    *ngFor="let item of logos"
    [text]="item.name"
    [targetLink]="item.web"
    [imgSrc]="item.icon"
  ></tsw-logo>
</div>

<div class="header__contents">
  <div class="header__contents__user">
    <button mat-button [matMenuTriggerFor]="moduleSelectMenu">
<!--      {{ ((sampleContext.module$ | async)?.name) || '-' }}-->
    </button>
    <mat-menu #moduleSelectMenu>
      <button
       mat-menu-item
      >{{ "asd"}}</button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="userActions">
      <mat-icon>account_circle</mat-icon>
      <div  class="inline-block ml-1.5">
        <ng-container>
          <span>
            {{ "Jhon" }}
            <ng-container >
              {{ "Peter" | slice: 0 : 1 }}.
             <span>{{ "Rojas" | slice: 0 : 1 }}.</span>
            </ng-container>
          </span>
        </ng-container>
      </div>
    </button>

    <mat-menu #userActions>
      <div

        mat-menu-item
        disabled
      >
        <span >
          {{ "profile" }}
        </span>
      </div>

      <button mat-menu-item >
        <span class="uppercase">{{ "lenguaje" }}</span>
      </button>

      <button mat-menu-item >
        <span class="uppercase">{{ "entity name" || '-' }}</span>
      </button>

      <button
        mat-menu-item
        [routerLink]="'logout' | namedRoute"
      >{{ 'generic.actions.logout' |translate  }}</button>
    </mat-menu>

<!--    <mat-menu #availableLanguages>-->
<!--      <button-->
<!--        *ngFor="let lang of (sampleContext.languages$ | async)"-->
<!--        mat-menu-item-->
<!--        (click)="sampleContext.useLanguage(lang)"-->
<!--      >-->
<!--        <span class="uppercase">({{ lang.isoCode }})</span>-->
<!--        {{ lang.name }}-->
<!--      </button>-->
<!--    </mat-menu>-->

<!--    <mat-menu #availableScopes>-->
<!--      <button-->
<!--        *ngFor="let item of (sampleContext.scopes$ | async)"-->
<!--        mat-menu-item-->
<!--        (click)="sampleContext.useScope(item)"-->
<!--      >{{ item.entityName }}</button>-->
<!--    </mat-menu>-->
  </div>
</div>
