:host {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  display: flex;
  background-color: var(--bg-color);
  box-shadow: var(--header-bg-shadow);
  height: var(--header-height);
  z-index: var(--zindex-fixed);
}

.header__action {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  min-width: var(--header-action-btn-width);

  background-color: var(--bg-color);
  border-color: var(--bg-color);

  &:hover, &:active {
    background-color: var(--bg-color-darker-5);
    border-color: var(--bg-color-darker-10);
  }
}

.header__contents {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1 1 0;
  padding: 0 .25rem;
  width: 100%;
}
