<input
  matInput
  [required]="required"
  [placeholder]="placeholder"
  [disabled]="disabled"
  [matAutocomplete]="auto"
  [value]="value | extractModelPath: displayPath"
>
<mat-autocomplete
  #auto="matAutocomplete"
  [displayWith]="displayWithFn"
  (optionSelected)="selectValue($event.option.value)"
>
  <mat-option
    *ngIf="animationLoading"
    [value]="undefined"
  >
    <ng-container [ngTemplateOutlet]="loadingAnimationTmpl"></ng-container>
  </mat-option>

  <mat-option
    *ngIf="showNoneValue && !animationLoading && !multiple"
    [value]="undefined"
  >{{ 'generic.actions.none' | translate }}</mat-option>

  <mat-option
    *ngFor="let item of (displayDataSrc | async)"
    [value]="item"
  >
    <ng-template
      *ngTemplateOutlet="
      (optionTmpl || defOptionTmpl);
      context: { $implicit: item };
      "
    ></ng-template>
  </mat-option>

  <mat-option
    *ngIf="hasMorePages"
    [value]="undefined"
    (onSelectionChange)="loadNext()"
  >{{ 'generic.actions.loadMore' | translate }}</mat-option>
</mat-autocomplete>

<ng-template #defOptionTmpl let-context>
  {{ context | extractModelPath: displayPath }}
</ng-template>

<ng-template #loadingAnimationTmpl>
  <span>{{ 'generic.actions.loading' | translate }}...</span>
</ng-template>
