<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         id="WebApp_ID"
         version="4.0">

    <env-entry>
        <env-entry-name>PATH_REPO</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>@pathRepo@</env-entry-value>
    </env-entry>

    <!-- App -->
    <env-entry>
        <env-entry-name>ACTIVE_PROFILE</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>@activatedProperties@</env-entry-value>
    </env-entry>

    <env-entry>
        <env-entry-name>CONTEXT_PATH</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>@contextPath@</env-entry-value>
    </env-entry>
    <!-- / App -->

    <!-- Database resources -->

    <!-- / Database resources -->

    <!-- Logging resource -->


    <!-- / Logging resource -->


</web-app>
