<form [formGroup]="form">
  <tsw-form-container>
    <tsw-section-wrapper class="mb-5" headerLabel="{{'pages.campaign.edit' | translate}}" icon="edit_note">

      <div section-content>
        <div class="grid grid-cols-6 gap-1.5 mb-2">
          <mat-form-field class="col-span-4">
            <mat-label>{{ 'fields.campaign.name' | translate }}</mat-label>
            <input matInput formControlName="nameCampaign">
            <mat-error>{{ form.controls.nameCampaign.errors | extractValidationError }}</mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>{{ 'fields.year' | translate }}</mat-label>
            <input type='number' matInput formControlName="year">
            <mat-error>{{ form.controls.year.errors | extractValidationError }}</mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>{{ 'fields.code_cpa' | translate }}</mat-label>
            <input matInput formControlName="codeCpa">
            <mat-error>{{ form.controls.codeCpa.errors | extractValidationError }}</mat-error>
          </mat-form-field>

        </div>

        <div class="grid grid-cols-3 gap-1.5 mb-2">
          <mat-form-field class="col-span-1">
            <mat-label>{{ 'fields.campaign.type' | translate }}</mat-label>
            <tsw-custom-select resourceName="campaignType" formControlName="campaignType" [required]="true" [showNoneValue]="false"></tsw-custom-select>
            <mat-error>{{ form.controls.campaignType.errors | extractValidationError }}</mat-error>
          </mat-form-field>

          <mat-form-field class="col-span-1">
            <mat-label>{{ 'fields.ambit' | translate }}</mat-label>
            <tsw-custom-select resourceName="ambit" formControlName="ambit" [required]="true" [showNoneValue]="false"></tsw-custom-select>
            <mat-error>{{ form.controls.ambit.errors | extractValidationError }}</mat-error>
          </mat-form-field>

          <mat-form-field class="col-span-1">
            <mat-label>{{ 'fields.responsibleEntity' | translate }}</mat-label>
            <tsw-custom-select resourceName="responsibleEntity"
              formControlName="autonomousCommunityResponsible" [required]="true" [showNoneValue]="false"></tsw-custom-select>
              <mat-error>{{ form.controls.autonomousCommunityResponsible.errors | extractValidationError }}</mat-error>
          </mat-form-field>
        </div>

        <div class="grid grid-cols-1 gap-1.5 mb-2">
          <mat-form-field>
            <mat-label>{{ 'fields.ccaaParticipants' | translate}}</mat-label>
            <tsw-custom-select [multiple]="true" resourceName="participants" formControlName="participants" [required]="true">
            </tsw-custom-select>
            <mat-error>{{ form.controls.participants.errors | extractValidationError }}</mat-error>
          </mat-form-field>
        </div>
        <div class="grid grid-cols-1 gap-1.5 mb-2">
          <mat-form-field>
            <mat-label>{{ 'fields.ccaaProponents' | translate}}</mat-label>
            <tsw-custom-select [multiple]="true" resourceName="proponents" formControlName="proponents" [required]="true">
            </tsw-custom-select>
            <mat-error>{{ form.controls.proponents.errors | extractValidationError }}</mat-error>
          </mat-form-field>
        </div>
        <div class="grid grid-cols-1 gap-1.5 mb-2">
          <mat-form-field>
            <mat-label>{{ 'fields.ccaaSpecialist' | translate}}</mat-label>
            <tsw-custom-select [multiple]="true" resourceName="specialists" formControlName="specialists">
            </tsw-custom-select>
            <mat-error>{{ form.controls.specialists.errors | extractValidationError }}</mat-error>
          </mat-form-field>
        </div>

      </div>

    </tsw-section-wrapper>

    <tsw-form-actions
      [saveBtnSkipConfirmation]="form.invalid"
      (reset)="resetForm()"
      (save)="submitForm()"
    ></tsw-form-actions>

  </tsw-form-container>
</form>

