<div class="flex-1 flex justify-start items-center">
  <ng-content></ng-content>
</div>

<div>
  <div class="inline-block">
    <button
      mat-stroked-button
      color="warn"
      type="button"
      (click)="resetEv.emit()"
    >{{ 'generic.actions.reset' | translate }}</button>
  </div>

  <div class="inline-block ml-1">
    <button
      mat-raised-button
      type="submit"
      (click)="searchEv.emit()"
      class="mat-primary"
    >
      <mat-icon>search</mat-icon>
      {{ 'generic.actions.search' | translate }}
    </button>
  </div>
</div>
