.display-grid {
  display: grid;
}

.div-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-titles {
  font-weight: bold;
}

.justify-center {
  display: flex;
  justify-content: center;
}