<tsw-breadcrumbs></tsw-breadcrumbs> 

<!-- <form [formGroup]="form">
  
</form> -->


<mat-stepper [linear]="true" (selectionChange)="onStepChange($event)" #stepper>
    <mat-step [stepControl]="editForm1">
    <ng-template matStepLabel>Criterios</ng-template>
      <form [formGroup]="editForm1">
            <div formGroupName="campania">
                <div class="grid grid-cols-1 gap-1.5 mt-4">
                    <mat-form-field>
                      <mat-label>{{ 'fields.campaign.name' | translate }}</mat-label>
                      <input matInput formControlName="nameCampaign">
                    </mat-form-field>
                </div>
            </div>

            <div class="grid grid-cols-1 gap-1.5 mt-4">
                <mat-form-field>
                    <mat-label>{{ 'pages.results.protocolo' | translate }}</mat-label>
                    <mat-select name="protocolos" formControlName="protocolo" required>
                        <mat-option *ngFor="let proto of protocolosList" [value]="proto">
                          {{proto.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="grid grid-cols-1 gap-1.5 mt-4">
                <mat-form-field>
                    <mat-label>{{ 'pages.results.producto' | translate }}</mat-label>
                    <mat-select name="protocolos" formControlName="producto" required>
                        <mat-option *ngFor="let prod of productosList" [value]="prod">
                          {{prod.productName}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="grid grid-cols-1 gap-1.5 mt-4">
                <mat-form-field>
                    <mat-label>{{ 'pages.results.ca' | translate }}</mat-label>
                    <mat-select name="protocolos" formControlName="ca" required>
                        <mat-option *ngFor="let ca of caList" [value]="ca">
                          {{ca.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        <div class="justify-center mt-3">
          <button mat-raised-button color="primary" class="text-white font-bold py-2 px-4 rounded" matStepperNext>Siguiente</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="editForm2">
        <ng-template matStepLabel>Datos Compl.</ng-template>
        <form [formGroup]="editForm1">
            <div class="grid grid-cols-6 gap-1.5 mt-4" formGroupName="campania">
                    <mat-form-field class="col-span-4">
                        <mat-label>{{ 'fields.campaign.name' | translate }}</mat-label>
                        <input matInput formControlName="nameCampaign" readonly>
                    </mat-form-field>

                    <mat-form-field class="col-span-2">
                        <mat-label>{{ 'fields.campaign.year' | translate }}</mat-label>
                        <input matInput formControlName="year" readonly>
                    </mat-form-field>
            </div>
            
        </form>

            <div class="grid grid-cols-6 gap-1.5">
                <mat-form-field class="col-span-3">
                    <mat-label>{{ 'pages.results.protocolo' | translate }}</mat-label>
                    <input matInput [value]="protocoloSelected?.name" readonly>
                </mat-form-field>

                <mat-form-field class="col-span-3">
                    <mat-label>{{ 'pages.results.producto' | translate }}</mat-label>
                    <input matInput [value]="productoSelected?.productName" readonly>
                </mat-form-field>
            </div>


            <div class="grid grid-cols-6 gap-1.5">
                <mat-form-field class="col-span-6">
                    <mat-label>{{ 'pages.results.ca' | translate }}</mat-label>
                    <input matInput [value]="caSelected?.name" readonly>
                </mat-form-field>
            </div>

        <form [formGroup]="editForm2">
            <mat-card>
                <mat-card-header>
                    <mat-card-subtitle class="header-titles">{{ 'pages.results.numEstablecimientos' | translate }}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <div class="grid grid-cols-6 gap-1.5">
                        <div class="col-span-3 div-center ">
                            <mat-form-field>
                            <mat-label>{{ 'pages.results.numExistentes' | translate }}</mat-label>
                            <input matInput formControlName="numExistentes" type="number">
                            </mat-form-field>
                        </div>
        
                        <div class="col-span-3 div-center ">
                            <mat-form-field>
                            <mat-label>{{ 'pages.results.numControlados' | translate }}</mat-label>
                            <input matInput formControlName="numControlados" type="number" required>
                            </mat-form-field>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>

            <mat-card class="mt-4">
                <mat-card-header>
                    <mat-card-subtitle class="header-titles">{{ 'pages.results.tProductos' | translate }}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <div class="grid grid-cols-6 gap-1.5">
                        <div class="col-span-2 div-center ">
                            <mat-form-field>
                              <mat-label>{{ 'pages.results.tProdControlados' | translate }}</mat-label>
                              <input matInput formControlName="totalProdControlados" type="number" required>
                            </mat-form-field>
                        </div>
        
                        <div class="col-span-2 div-center ">
                            <mat-form-field class="col-span-1">
                              <mat-label>{{ 'pages.results.tProdCorrectos' | translate }}</mat-label>
                              <input matInput formControlName="totalProdCorrectos" type="number" required>
                            </mat-form-field>
                        </div>
    
                        <div class="col-span-2 div-center ">
                            <mat-form-field class="col-span-1">
                              <mat-label>{{ 'pages.results.tProdIncorrectos' | translate }}</mat-label>
                              <input matInput formControlName="totalProdIncorrectos" type="number" required>
                            </mat-form-field>
                        </div>
                    </div>
                </mat-card-content>
                
            </mat-card>
                
        </form>
        <div class="justify-center mt-3">
            <button mat-raised-button color="primary" class="text-white font-bold py-2 px-4 mr-4 rounded" matStepperPrevious>Anterior</button>
            <button mat-raised-button color="primary" class="text-white font-bold py-2 px-4 rounded" matStepperNext>Siguiente</button>
        </div>
        
    </mat-step>

    <mat-step [stepControl]="editForm2">
        <ng-template matStepLabel>Protocolo</ng-template>
        <form [formGroup]="editForm1">
            <div class="grid grid-cols-6 gap-1.5 mt-4" formGroupName="campania">
                    <mat-form-field class="col-span-4">
                        <mat-label>{{ 'fields.campaign.name' | translate }}</mat-label>
                        <input matInput formControlName="nameCampaign" readonly>
                    </mat-form-field>

                    <mat-form-field class="col-span-2">
                        <mat-label>{{ 'fields.campaign.year' | translate }}</mat-label>
                        <input matInput formControlName="year" readonly>
                    </mat-form-field>
            </div>
            
        </form>

            <div class="grid grid-cols-6 gap-1.5">
                <mat-form-field class="col-span-3">
                    <mat-label>{{ 'pages.results.protocolo' | translate }}</mat-label>
                    <input matInput [value]="protocoloSelected?.name" readonly>
                </mat-form-field>

                <mat-form-field class="col-span-3">
                    <mat-label>{{ 'pages.results.producto' | translate }}</mat-label>
                    <input matInput [value]="productoSelected?.productName" readonly>
                </mat-form-field>
            </div>


            <div class="grid grid-cols-6 gap-1.5">
                <mat-form-field class="col-span-6">
                    <mat-label>{{ 'pages.results.ca' | translate }}</mat-label>
                    <input matInput [value]="caSelected?.name" readonly>
                </mat-form-field>
            </div>

            <div class="w-3/4 mx-auto mt-4" *ngIf="preguntasProtocolo && preguntasProtocolo.length > 0">
                <div class="table w-full border-collapse">
                  <div class="table-header-group bg-gray-200">
                    <div class="table-cell font-semibold p-2 border border-gray-300 w-1/12">Nº</div>
                    <div class="table-cell font-semibold p-2 border border-gray-300 w-5/12">Pregunta</div>
                    <div class="table-cell font-semibold p-2 border border-gray-300 w-2/12">Si</div>
                    <div class="table-cell font-semibold p-2 border border-gray-300 w-2/12">No</div>
                    <div class="table-cell font-semibold p-2 border border-gray-300 w-2/12">No Procede</div>
                  </div>
      
                  <!-- Filas de la tabla -->
                  <!-- <div class="table-row-group">
                    <tr *ngFor="let prod of productsDisplay">
                      <td>{{ prod['codeProductService'] }}</td>
                      <td>{{ prod['productName'] }}</td>
                    </tr>
                  </div> -->
                </div>
              </div>

        <div class="justify-center mt-3">
            <button mat-raised-button color="primary" class="text-white font-bold py-2 px-4 mr-4 rounded" matStepperPrevious>Anterior</button>
            <button mat-raised-button color="primary" class="text-white font-bold py-2 px-4 rounded" (click)="save()">Guardar</button>
        </div>
      
  </mat-step>


  </mat-stepper>