.display-grid {
  display: grid;
}

.div-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-titles {
  font-weight: bold;
}

.justify-center {
  display: flex;
  justify-content: center;
}

.input-con-borde {
  border: 1px solid #ccc;
}

.header-titles {
  background-color: rgb(21,68,129);
  font-weight: bold;
  color: white;
}

.position-absolute {
  position: absolute;
}