<tsw-breadcrumbs></tsw-breadcrumbs>

<form [formGroup]="form">
    <tsw-form-container>
        <tsw-section-wrapper
                class="mb-5"
                headerLabel="{{'text.arbitration.step1.title' | translate}}"
                icon="edit_note" >
            <div section-content>

                <div class="grid grid-cols-2 gap-1.5">
                    <mat-form-field>
                        <mat-label>{{ 'fields.arbitration.step1.arbitrationType' | translate }}</mat-label>
                        <tsw-custom-select
                                formControlName="arbitrationType"
                                resourceName="arbitrations"
                        ></tsw-custom-select>
                        <mat-error>{{ form.controls.arbitrationType.errors | extractValidationError }}</mat-error>
                    </mat-form-field>
                </div>

                <tsw-section-label class="w-full"
                        label="{{ 'text.arbitration.step1.claimantDetails' | translate}}"></tsw-section-label>
                <div class="grid grid-cols-1">
                    <mat-radio-group aria-label="Select an option" formControlName="claimantType">
                        <mat-radio-button
                                value="1">{{ 'fields.arbitration.step1.claimantType.key1' | translate }}</mat-radio-button>
                        <mat-radio-button
                                value="2">{{ 'fields.arbitration.step1.claimantType.key2' | translate }}</mat-radio-button>
                    </mat-radio-group>
                </div>


                <div class="grid grid-cols-3 gap-1.5"
                     *ngIf="form.controls.claimantType && form.controls.claimantType.value==1">
                    <mat-form-field>
                        <mat-label>{{ 'fields.arbitration.step1.name' | translate }}</mat-label>
                        <input matInput formControlName="name">
                        <mat-error>{{ form.controls.name.errors | extractValidationError }}</mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>{{ 'fields.arbitration.step1.surnames' | translate }}</mat-label>
                        <input matInput formControlName="surnames">
                        <mat-error>{{ form.controls.surnames.errors | extractValidationError }}</mat-error>
                    </mat-form-field>
                </div>
                <div class="grid grid-cols-3 gap-1.5"
                     *ngIf="form.controls.claimantType && form.controls.claimantType.value==2">
                    <mat-form-field>
                        <mat-label>{{ 'fields.arbitration.step1.socialReason' | translate }}</mat-label>
                        <input matInput formControlName="socialReason">
                        <mat-error>{{ form.controls.socialReason.errors | extractValidationError }}</mat-error>
                    </mat-form-field>
                </div>
                <div class="grid grid-cols-3 gap-1.5">
                    <mat-form-field>
                        <mat-label>{{ 'fields.arbitration.step1.nif' | translate }}</mat-label>
                        <input matInput formControlName="nif">
                        <mat-error>{{ form.controls.nif.errors | extractValidationError }}</mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>{{ 'fields.arbitration.step1.phone' | translate }}</mat-label>
                        <input matInput formControlName="phone">
                        <mat-error>{{ form.controls.phone.errors | extractValidationError }}</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>{{ 'fields.arbitration.step1.email' | translate }}</mat-label>
                        <input matInput formControlName="email">
                        <mat-error>{{ form.controls.email.errors | extractValidationError }}</mat-error>
                    </mat-form-field>

                </div>

                <tsw-section-label class="w-full"
                        label="{{ 'text.arbitration.step1.claimantDetails' | translate}}"></tsw-section-label>

                <div class="grid grid-cols-6 gap-1.5">
                    <!--          tipo de vida-->
                    <mat-form-field class="col-span-2">
                        <mat-label>{{ 'fields.arbitration.step1.roadType' | translate }}</mat-label>
                        <tsw-custom-select
                                formControlName="roadType"
                                resourceName="roadTypes"
                        ></tsw-custom-select>
                        <mat-error>{{ form.controls.roadType.errors | extractValidationError }}</mat-error>
                    </mat-form-field>
                    <!--          direccion-->
                    <mat-form-field class="col-span-2">
                        <mat-label>{{ 'fields.arbitration.step1.address' | translate }}</mat-label>
                        <input matInput formControlName="address">
                        <mat-error>{{ form.controls.address.errors | extractValidationError }}</mat-error>
                    </mat-form-field>
                    <!--          numero-->
                    <mat-form-field class="col-span-2">
                        <mat-label>{{ 'fields.arbitration.step1.number' | translate }}</mat-label>
                        <input matInput formControlName="number">
                        <mat-error>{{ form.controls.number.errors | extractValidationError }}</mat-error>
                    </mat-form-field>

<!--    datos de direcion del reclamante-->

                    <!--          bloque-->
                    <mat-form-field class="col-span-2">
                        <mat-label>{{ 'fields.arbitration.step1.block' | translate }}</mat-label>
                        <input matInput formControlName="block">
                        <mat-error>{{ form.controls.block.errors | extractValidationError }}</mat-error>
                    </mat-form-field>
                    <!--          portal-->
                    <mat-form-field>
                        <mat-label>{{ 'fields.arbitration.step1.portal' | translate }}</mat-label>
                        <input matInput formControlName="portal">
                        <mat-error>{{ form.controls.portal.errors | extractValidationError }}</mat-error>
                    </mat-form-field>
                    <!--            escalera-->
                    <mat-form-field>
                        <mat-label>{{ 'fields.arbitration.step1.ladder' | translate }}</mat-label>
                        <input matInput formControlName="ladder">
                        <mat-error>{{ form.controls.ladder.errors | extractValidationError }}</mat-error>
                    </mat-form-field>
                    <!--            planta-->
                    <mat-form-field>
                        <mat-label>{{ 'fields.arbitration.step1.floor' | translate }}</mat-label>
                        <input matInput formControlName="floor">
                        <mat-error>{{ form.controls.floor.errors | extractValidationError }}</mat-error>
                    </mat-form-field>
                    <!--            puerta-->
                    <mat-form-field>
                        <mat-label>{{ 'fields.arbitration.step1.door' | translate }}</mat-label>
                        <input matInput formControlName="door">
                        <mat-error>{{ form.controls.door.errors | extractValidationError }}</mat-error>
                    </mat-form-field>
                </div>
                <div class="grid grid-cols-3 gap-1.5">
                    <mat-form-field>
                        <mat-label>{{ 'fields.arbitration.step1.province' | translate }}</mat-label>
                        <tsw-custom-select
                                formControlName="province"
                                resourceName="provinces"
                        ></tsw-custom-select>
                        <mat-error>{{ form.controls.province.errors | extractValidationError }}</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>{{ 'fields.arbitration.step1.town' | translate }}</mat-label>
                        <tsw-custom-select
                                formControlName="town"
                                resourceName="towns"
                        ></tsw-custom-select>
                        <mat-error>{{ form.controls.town.errors | extractValidationError }}</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>{{ 'fields.arbitration.step1.postalCode' | translate }}</mat-label>
                        <input matInput formControlName="postalCode">
                        <mat-error>{{ form.controls.postalCode.errors | extractValidationError }}</mat-error>
                    </mat-form-field>

                </div>
                <tsw-section-label class="w-full" label="{{'text.arbitration.step1.sendType' | translate}}"></tsw-section-label>

                <div class="grid grid-cols-2 gap-1.5">
                    <mat-form-field>
                        <mat-label>{{ 'fields.arbitration.step1.sendType' | translate }}</mat-label>
                        <tsw-custom-select
                                formControlName="notificationType"
                                resourceName="notifcations"
                        ></tsw-custom-select>
                        <mat-error>{{ form.controls.notificationType.errors | extractValidationError }}</mat-error>
                    </mat-form-field>
                </div>
                <tsw-section-label class="w-full" label="{{'text.arbitration.step1.claimedDetails' | translate}}"></tsw-section-label>
<!--datos de la empresa reclamada-->
                <div class="grid grid-cols-2 gap-1.5">
                    <mat-form-field>
                        <mat-label>{{ 'fields.arbitration.step1.socialReason' | translate }}</mat-label>
                        <input matInput formControlName="claimedName">
                        <mat-error>{{ form.controls.claimedName.errors | extractValidationError }}</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>{{ 'fields.arbitration.step1.nif' | translate }}</mat-label>
                        <input matInput formControlName="claimedNif">
                        <mat-error>{{ form.controls.claimedNif.errors | extractValidationError }}</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>{{ 'fields.arbitration.step1.phone' | translate }}</mat-label>
                        <input matInput formControlName="claimedPhone">
                        <mat-error>{{ form.controls.claimedPhone.errors | extractValidationError }}</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>{{ 'fields.arbitration.step1.email' | translate }}</mat-label>
                        <input matInput formControlName="claimedEmail">
                        <mat-error>{{ form.controls.claimedEmail.errors | extractValidationError }}</mat-error>
                    </mat-form-field>
                </div>
                <div class="grid grid-cols-5 gap-1.5">
                    <!--          bloque-->
                    <mat-form-field>
                        <mat-label>{{ 'fields.arbitration.step1.block' | translate }}</mat-label>
                        <input matInput formControlName="block">
                        <mat-error>{{ form.controls.block.errors | extractValidationError }}</mat-error>
                    </mat-form-field>
                    <!--          portal-->
                    <mat-form-field>
                        <mat-label>{{ 'fields.arbitration.step1.portal' | translate }}</mat-label>
                        <input matInput formControlName="portal">
                        <mat-error>{{ form.controls.portal.errors | extractValidationError }}</mat-error>
                    </mat-form-field>
                    <!--            escalera-->
                    <mat-form-field>
                        <mat-label>{{ 'fields.arbitration.step1.ladder' | translate }}</mat-label>
                        <input matInput formControlName="ladder">
                        <mat-error>{{ form.controls.ladder.errors | extractValidationError }}</mat-error>
                    </mat-form-field>
                    <!--            planta-->
                    <mat-form-field>
                        <mat-label>{{ 'fields.arbitration.step1.floor' | translate }}</mat-label>
                        <input matInput formControlName="floor">
                        <mat-error>{{ form.controls.floor.errors | extractValidationError }}</mat-error>
                    </mat-form-field>
                    <!--            puerta-->
                    <mat-form-field>
                        <mat-label>{{ 'fields.arbitration.step1.door' | translate }}</mat-label>
                        <input matInput formControlName="door">
                        <mat-error>{{ form.controls.door.errors | extractValidationError }}</mat-error>
                    </mat-form-field>
                </div>
                <div class="grid grid-cols-3 gap-1.5">
                    <mat-form-field>
                        <mat-label>{{ 'fields.arbitration.step1.province' | translate }}</mat-label>
                        <tsw-custom-select
                                formControlName="province"
                                resourceName="provinces"
                        ></tsw-custom-select>
                        <mat-error>{{ form.controls.province.errors | extractValidationError }}</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>{{ 'fields.arbitration.step1.town' | translate }}</mat-label>
                        <tsw-custom-select
                                formControlName="town"
                                resourceName="towns"
                        ></tsw-custom-select>
                        <mat-error>{{ form.controls.town.errors | extractValidationError }}</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>{{ 'fields.arbitration.step1.postalCode' | translate }}</mat-label>
                        <input matInput formControlName="postalCode">
                        <mat-error>{{ form.controls.postalCode.errors | extractValidationError }}</mat-error>
                    </mat-form-field>

                </div>
                <tsw-section-label class="w-full" label="{{'text.arbitration.step1.requestDetails' | translate}}"></tsw-section-label>
                <div class="grid grid-cols-1 gap-1.5">
                    <mat-form-field>
                        <mat-label>{{ 'fields.arbitration.step1.claimContent' | translate }}</mat-label>
                        <textarea matInput formControlName="claimContent" rows="3"></textarea>
                        <mat-error>{{ form.controls.claimContent.errors | extractValidationError }}</mat-error>
                    </mat-form-field>
                </div>
                <div class="grid grid-cols-1 gap-1.5">
                    <mat-form-field>
                        <mat-label>{{ 'fields.arbitration.step1.presentation' | translate }}</mat-label>
                        <textarea matInput formControlName="presentation" rows="3"></textarea>
                        <mat-error>{{ form.controls.presentation.errors | extractValidationError }}</mat-error>
                    </mat-form-field>
                </div>
                <div class="grid grid-cols-1 gap-1.5">
                    <mat-form-field>
                        <mat-label>{{ 'fields.arbitration.step1.observation' | translate }}</mat-label>
                        <textarea matInput formControlName="observation" rows="3"></textarea>
                        <mat-error>{{ form.controls.observation.errors | extractValidationError }}</mat-error>
                    </mat-form-field>
                </div>

            </div>
        </tsw-section-wrapper>

        <tsw-form-actions
                [saveBtnSkipConfirmation]="skipSaveConfirmation"
                saveBtnLabel="generic.actions.next"
                (reset)="resetForm()"
                (save)="submitForm()"
        ></tsw-form-actions>
    </tsw-form-container>
</form>
