<h2 mat-dialog-title>{{ 'text.other.setupColumns' | translate }}</h2>

<mat-dialog-content class="slim__scrollbar">
  <div cdkDropList class="drag_list" (cdkDropListDropped)="drop($event)">
    <div
      cdkDrag
      *ngFor="let conf of configurations; index as i"
      class="drag_list__item"
    >
      <mat-icon class="mr-3">drag_indicator</mat-icon>

      <mat-checkbox
        [checked]="conf.visible"
        class="overflow-hidden text-ellipsis"
        (change)="checkboxChange($event, i)"
      >{{ conf.label }}</mat-checkbox>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button
    mat-button
    mat-dialog-close
    (click)="data.reset()"
  >{{ 'generic.actions.reset' | translate }}</button>

  <button
    mat-button
    mat-dialog-close
    cdkFocusInitial
    color="primary"
    (click)="close()"
  >{{ 'generic.actions.apply' | translate }}</button>
</mat-dialog-actions>
